repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        entry: ruff check
        args:
          - "--fix"
          - "--show-fixes"
      - id: ruff-format
        entry: ruff format
      

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: ["--config-file=backend/pyproject.toml"]
